.perfil-boton

.boton__mensaje{
    width: 100px;
    height: 40px;
    background-color: rgb(123, 206, 221);
    color: white;
    font-family: $fontBajadas;
    font-weight: $medium;
}
.boton__seguir{
    width: 100px;
    height: 40px;
    background-color: rgb(209, 69, 64);
    color: white;
    font-family: $fontBajadas;
    font-weight: $medium;
}