// fonts

$fontLogo: 'Futura-Normal', arial;
$fontTitulos: 'Montserrat', sans-serif;
$fontBajadas: 'Open Sans', sans-serif;

// pesos
$regular: 400; //open sans
$medium: 500; //montserrat
$extrabold: 800; //montserrat

// Tamaños

$large: 20px;
$medium: 16px;
$small: 14px;