.navbar__caja-logo{
    width:150px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
}

.navbar__logo{
    font-family: $fontLogo;
    font-size: 25px;
    margin: 0;
    position: absolute;
}

.navbar__logo-complemento{
    font-family: $fontLogo;
    font-size: 10px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 110px;
}

li{
    padding: 10px;
}

.asdf{
    display: flex;
    justify-content: flex-end;
}

.nav-item{
    display: flex;
}

.nav__texto{
    margin: 0;
    padding-left: 30px;
}

.ocultado{
    display: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .nav__texto{
        display: none;
    }
    .nav__icono{
        padding: 0 10px;
    }
    .ocultado{
        display: block;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}